.divForFooter {
    margin: 0;
    background-color: skyblue;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.footer-float {
    float: left;
    padding-left: 5px;
}

ul{
	list-style: none;
}