<!-- src/app/app.component.html -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<!-- <h1>Angular</h1> -->
<!-- <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=353&amp;hl=en&amp;q=Cape town&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://kokagames.com/">FNF</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:353px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:353px;}.gmap_iframe {height:353px!important;}</style></div> -->



<header></header>
<languages-list></languages-list>
<!-- <languages-list [newLanguage]="newLang"></languages-list> -->
<!-- <stories-list></stories-list> -->
<!-- <story></story> -->
<!-- <footer></footer> -->



